<form class="create-form" [formGroup]="formService.formGroup" (ngSubmit)="onSubmit($event)">
  <mat-form-field class="field-full">
    <mat-label>Name</mat-label>
    <input matInput formControlName="name"/>
    @if(formService.isValidField('name')) {
      <mat-error>This field is invalid</mat-error>
    }
  </mat-form-field>
  <mat-form-field class="field-full">
    <mat-label>Name</mat-label>
    <input matInput formControlName="name"/>
    @if(formService.isValidField('name')) {
      <mat-error>This field is invalid</mat-error>
    }
  </mat-form-field>

  <div class="group-button">
    @if(isEditContext) {
      <button (click)="onRemove()" mat-flat-button type="button" color="warn">Remove</button>
    }

    <button (click)="onReset()" mat-stroked-button type="button" class="">Cancel</button>
    <button mat-flat-button type="submit" color="primary"  [disabled]="!formService.formGroup.valid">
      @if(isEditContext) {
        Edit
      } @else {
        Create
      }
    </button>

  </div>
</form>
