.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  background-color: #5ebef8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  //z-index: 1;
  //position: relative;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 40px;
  margin-right: 0.5em;
}

.nav-links a {
  margin-right: 1em;
  color: #2b7a78;
  text-decoration: none;
}

.nav-links a.active {
  border-bottom: 2px solid #2b7a78;
}
