
.create-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  margin: auto;
}

.field-full {
  width: 100%;
}

.group-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
}
