.create-form {
  min-width: 150px;
  width: 100%;
  margin: auto;
}

.field-full {
  width: 100%;
}

.group-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
}


.header {
  display: flex;
  flex-direction: row;
}
.right {
  justify-content: right;
}
